h2 {
  font-size: 20px;
  margin-bottom: 40px;
}

.time-date {
  padding-right: 36px;
}

.user-info {
  font-size: 20px;
  margin-bottom: 40px;
  display: inline-flex;
}

.main {
  grid-column: 1 / 13;
}

select {
  font-size: 20px;
  background-color: #616161;
  color: #f6f6f6;
}

img {
  width: 60px;
}

.critter-display {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.critter-name {
  margin: 4px 0px;
  font-weight: 700;
}

.critter {
  font-size: 18px;
  background-color: #2e2e2e;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 4px 8px 4px;
}

.critter-grid {
  margin: 40px 0px 60px 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 24px;
  justify-items: center;
  justify-content: center;
  grid-auto-flow: row;
}
