.main {
  grid-column: 1 / 13;
}

.user-info {
  font-size: 20px;
  margin-bottom: 40px;
  display: inline-flex;
}

select {
  font-size: 20px;
  background-color: #616161;
  color: #f6f6f6;
}

.critter-display {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.critter-grid {
  margin: 40px 0px 60px 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 24px;
  justify-items: center;
  justify-content: center;
  grid-auto-flow: row;
}
